* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
}

header {
  text-align: center;
  h1: 24px;
  color: #30322f;
  padding: 12px;
  margin-top: 30px;
}
h1 {
  font-size: 40px;
}

figure {
  max-width: 97%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 50px 10px;
  background-color: white;
  text-align: center;
}

.container {
  background-color: #eeeeee;
  border-radius: 4px;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

section p {
  font-style: italic;
}

section h3 {
  font-weight: bold;
  font-size: 20px;
}

footer {
  text-align: center;
  padding: 4px;
  font-weight: bold;
}

footer a {
  color: #74638f;
}
