body {
  background-color: gray;
}

header {
}

figure {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 50px 5px;
  background-color: red;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
